<div class="profile-container">
    <section>  
        <h1 class="profile-name"><%= @user.name %></h1>
    
        <% if @user.id == current_user.id %>
        <p class="profile"><%= link_to "プロフィール編集", edit_user_path(@user), class: "pull-right" %></p>
        <% end %>
    </section>  
    <table class="table table-striped">
        <tr>
            <th>タイトル</th>
            <th>感想</th>
        </tr>
        <% @posts.each do |post| %>
        <tr>
            <td><%= post.title%></td>
            <td><%= post.body%></td>
            <td><%= link_to 'Show', post %></td>
        </tr>
        <% end %>
    </table>
</div>
    

</div>